.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__form {
  position: absolute;
  padding: 1em;
  background-color: white;
  border: 2px solid #000;
  top: 25%;
  left: 38%;
  width: 350px;
}
.file__group {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.popup__image {
  image-rendering: pixelated;
  object-fit: contain;
  object-position: center;
}
.popup_group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin-bottom: 1em;
}
.popup_group:not(:first-child) {
  height: 50px;
}
.popup__label {
  font-size:small;
  position: absolute;
  top: 1em;
  transition: top 0.16s ease-in-out, font-size 0.16s ease-in-out, color 0.16s ease-in-out;
}
.popup__label-empty {
  font-size: medium;
  color: #878787;
}
.popup__label-filled {
  top: 0;
  color: #878787;
}
.popup__input {
  background-image: none;
  background:none;
  padding-bottom: 0.3em;
  width: 50%;
  font-size: 1em;
  margin-top: 1em;
  outline:none;
  border: none;
  border-bottom: 2px solid #878787;
  transition: border-bottom 0.2s ease-in-out, width 0.2s ease-in-out;
}
.popup__input:focus {
  border-bottom: 2px solid #3f51b5;
  width: 80%;
}
.popup__input:focus + .popup__label-empty{
  top: 0;
  color: #3f51b5;
  font-size:small;

}
.popup__input:focus + .popup__label-filled{
  color: #3f51b5;
  font-size:small;
}

.popup__button {
  margin-top: 2em;
  width: 10em;
  padding: 0.5em;
  color: white;
  font-size: 0.9em;
  background-color: #3f51b5;
  border: none;
  border-radius: 3px;
  transition: opacity 0.15s ease-in-out;
}

.popup__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.date {
  margin: 1em 0;
}

.date__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.date__reverse {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row-reverse;
}

.date__input {
  margin-left: 0.3em;
}

.date__text {
  font-size: small;
  color: #878787;
}

.date__input:focus-within + .date__text{
  font-size: medium;
  color: #3f51b5;
}