.auth__header {
 
}
.auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth__form {
  width: 30%;
  background-color: rgba(63, 81, 181, 0.2);
  padding: 5%;
  border: 2px solid #3f51b5;
  border-radius: 2%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.auth__title {
  text-align: center;
  font-size: larger;
  font-weight: 400;
  margin-bottom: 20%;
}
.auth__group {
  margin-top: 17%;
  position: relative;
  display: flex;
}
.auth__error {
  position: absolute;
  font-size: small;
  top: 1.6rem;
  color: red;
}
.auth__input {
  padding: 1%;
  width: 80%;
  height: 3vh;
  font-size: 15px;
  color: #878787;
  outline-offset: 0;
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 3px solid #878787;
  background:none;

  transition: border-bottom 0.2s ease-in-out, width 0.2s ease-in-out;
}

.auth__label {
  color: #878787;
  font-size:small;
  position: absolute;
  bottom: 0.5rem;
  left: 0.2rem;

  transition: top 0.16s ease-in-out, font-size 0.16s ease-in-out, color 0.16s ease-in-out;
}
.auth__label-empty {
  font-size: 15px;
}
.auth__label-filled {
  bottom: 1.7rem;
}

.auth__input:focus {
  color: black;
  border-bottom: 3px solid #3f51b5;
  width: 100%;
  outline: 0;
}
.auth__input:focus + .auth__label {
  bottom: 1.7rem;
  color: #3f51b5;
  font-size: 15px;
}

.options__group {
  margin-top: 20px;
  position: relative;
}
.auth__checkbox {
  width: 15px;
  height: 15px;
}
.auth__checkbox-label {
  position: absolute;
  left: 25px;
  bottom: 1.6px;
}
.option__forgot {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
}
.option__forgot:hover {
  cursor: pointer;
  opacity: 0.7;
}
.auth__button {
  margin-top: 60px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.16s ease-in-out, color 0.16s ease-in-out;
}
.auth__button:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}